<h1>{{title}}</h1>
<!--<app-iterpolation-binding></app-iterpolation-binding>
<app-property-binding></app-property-binding>
<app-two-way-data-binding></app-two-way-data-binding>
<app-ng-if></app-ng-if>
<app-ng-switch-case></app-ng-switch-case>
<app-ng-for></app-ng-for>
<app-ng-class></app-ng-class>
<app-ng-style></app-ng-style>
<app-ng-content>
    <div class="titulo">
        meu titulo com select
    </div>
    <div class="corpo">
        meu primeiro conteúdo com select
    </div>
    <div class="corpo">
        meu segundo conteúdo com select
    </div>
</app-ng-content>-->

<app-event-binding></app-event-binding>